<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head><!-- Created by Artisteer v4.0.0.58475 -->
    <meta charset="utf-8">
    <title>Educato Home</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="style.responsive.css" media="all">


    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script src="script.responsive.js"></script>


<style>.art-content .art-postcontent-0 .layout-item-0 { margin-bottom: 10px;  }
.art-content .art-postcontent-0 .layout-item-1 { border-top-width:1px;border-top-style:solid;border-top-color:#DEDEDE;margin-top: 5px;margin-bottom: 5px;  }
.art-content .art-postcontent-0 .layout-item-2 { border-right-style:solid;border-right-width:1px;border-right-color:#DEDEDE; padding-right: 10px;padding-left: 10px;  }
.art-content .art-postcontent-0 .layout-item-3 { padding-right: 10px;padding-left: 10px;  }
.art-content .art-postcontent-0 .layout-item-4 { border-top-width:0px;border-top-style:solid;border-top-color:#DEDEDE;margin-top: 5px;margin-bottom: 5px;  }
.art-content .art-postcontent-0 .layout-item-5 { border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-width:0px;border-top-color:#3D91D6;border-right-color:#3D91D6;border-bottom-color:#3D91D6;border-left-color:#3D91D6;  }
.art-content .art-postcontent-0 .layout-item-6 { border-top-width:0px;border-top-style:solid;border-top-color:#DEDEDE;  }
.art-content .art-postcontent-0 .layout-item-7 { border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-width:0px;border-top-color:#3D91D6;border-right-color:#3D91D6;border-bottom-color:#3D91D6;border-left-color:#3D91D6; padding-right: 10px;padding-left: 0px;  }
.art-content .art-postcontent-0 .layout-item-8 { padding-right: 0px;padding-left: 20px;  }
.ie7 .post .layout-cell {border:none !important; padding:0 !important; }
.ie6 .post .layout-cell {border:none !important; padding:0 !important; }

</style></head>
<body>
<div id="art-main">
<header class="art-header clearfix">


    <div class="art-shapes">

<div class="art-object0" data-left="0%"></div>
<div class="art-object1488369704" data-left="100%"></div>

            </div>

                        
                    
</header>
<nav class="art-nav clearfix">
    <div class="art-nav-inner">
    <ul class="art-hmenu"><li><a href="home.html" class="active">Home</a></li><li><a href="contact-us.html">Contact Us</a></li></ul> 
        </div>
    </nav>
<div class="art-sheet clearfix">
            <div class="art-layout-wrapper clearfix">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-content clearfix"><article class="art-post art-article">
                                
                                                
                <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout-wrapper layout-item-0">
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-2" style="width: 25%" >
        <h4>Education<br>
        Institutions</h4>
        <p style="text-align: center;"><img width="128" height="128" alt="" src="images/buildinghome.png"></p>
    </div><div class="art-layout-cell layout-item-2" style="width: 25%" >
        <h4>Learning<br>
        Process</h4>
        <p style="text-align: center;"><img width="115" height="115" alt="" src="images/school-2.png"></p>
    </div><div class="art-layout-cell layout-item-2" style="width: 25%" >
        <h4>Creativity<br>
        Development</h4>
        <p style="text-align: center;"><img width="102" height="102" alt="" src="images/paint-2.png"></p>
    </div><div class="art-layout-cell layout-item-3" style="width: 25%" >
        <h4>Recommended<br>
        Activities</h4>
        <p style="text-align: center;"><img width="115" height="115" alt="" src="images/pathing-2-2.png"></p>
    </div>
    </div>
</div>
</div>
<div class="art-content-layout-br layout-item-1">
</div><div class="art-content-layout-br layout-item-4">
</div><div class="art-content-layout layout-item-5">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-7" style="width: 25%" >
        <h1>News</h1>
        <h3>April 13, 2011</h3>
        <hr style="border:none;background-color:#dedede;color:#dedede;height:1px;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp;Pellentesque ac felis tellus.</p>
        <h3>March 11, 2011</h3>
        <hr style="border:none;background-color:#dedede;color:#dedede;height:1px;">
        <p>Etiam pharetra, tellus sit amet congue vulputate, nisi erat iaculis nibh, vitae feugiat sapien ante eget.</p>
        <h3>February 04, 2011</h3>
        <hr style="border:none;background-color:#dedede;color:#dedede;height:1px;">
        <p>Cras elit nisl, rhoncus nec iaculis ultricies, feugiat eget sapien. Pellentesque ac felis tellus.</p>
        <h3>Janyary 24, 2011</h3>
        <hr style="border:none;background-color:#dedede;color:#dedede;height:1px;">
        <p>Aenean sollicitudin imperdiet arcu, vitae dignissim est posuere id. Duis placerat justo eu nunc.<br></p>
    </div><div class="art-layout-cell layout-item-8" style="width: 75%" >
        <h1>Optimizing The Way You Study</h1>
        <p><span style="font-style:italic;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra, tellus sit amet congue vulputate, nisi erat iaculis nibh.</span></p>
        <p><img width="570" height="176" alt="" src="images/e1.jpg" class=""></p>
        <p>Cras elit nisl, rhoncus nec iaculis ultricies. Pellentesque ac felis tellus. Aenean sollicitudin imperdiet arcu. Duis placerat justo eu nunc interdum ultrices. Suspendisse pharetra auctor pharetra. Nunc a sollicitudin est. Curabitur ullamcorper gravida felis, sit amet scelerisque lorem iaculis sed.</p>
        <p><a href="#" class="art-button">Read more...</a></p>
        <h1>Individual Approach To All</h1>
        <p>Fusce ornare elit nisl, feugiat bibendum lorem. Vivamus pretium dictum sem vel laoreet. In fringilla pharetra purus, semper vulputate ligula cursus in. Donec at nunc nec dui laoreet porta eu eu ipsum. Sed eget lacus sit amet risus elementum dictum. Pellentesque sit amet imperdiet nunc. Aenean tellus mi, adipiscing sit amet laoreet eget, lobortis quis nisl. Nunc a sollicitudin est. Curabitur ullamcorper gravida felis, sit amet scelerisque lorem iaculis sed.</p>
        <p><a href="#" class="art-button">Read more...</a></p>
    </div>
    </div>
</div>
<div class="art-content-layout-br layout-item-6">
</div></div>
</article></div>
                    </div>
                </div>
            </div>
    </div>
<footer class="art-footer clearfix">
  <div class="art-footer-inner">
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 22%">
        <p style="font-size:18px;">Information</p>
        <br>
        <ul>
        <li><a href="#">Overview</a></li>
        <li><a href="#">Organization</a></li>
        <li><a href="#">Packages</a></li>
        <li><a href="#">Groups</a></li>
        </ul>
    </div><div class="art-layout-cell layout-item-0" style="width: 22%">
        <p style="font-size: 18px;">Location</p>
        <br>
        <ul>
        <li><a href="#">Area Map</a></li>
        <li><a href="#">Address</a></li>
        <li><a href="#">Locations</a></li>
        </ul>
    </div><div class="art-layout-cell layout-item-0" style="width: 22%">
        <p style="margin-top: 1px; margin-right: 1px; margin-bottom: 1px; margin-left: 1px; font-size: 18px;"><span style="color: rgb(72, 87, 91); line-height: 17px;">School</span></p>
        <span style="color: rgb(72, 87, 91); line-height: 17px;"><br></span>
        <ul>
        <li><span style="color: rgb(72, 87, 91); line-height: 17px;"><a href="#">About Us</a></span></li>
        <li><span style="color: rgb(72, 87, 91); line-height: 17px;"><a href="#">Admission</a></span></li>
        <li><span style="color: rgb(72, 87, 91); line-height: 17px;"><a href="#">Contact Us</a></span></li>
        </ul>
        <p><br></p>
    </div><div class="art-layout-cell layout-item-0" style="width: 34%">
        <p><br></p>
        <p style="text-align: right;"><a href="#"><img width="32" height="32" alt="" src="images/rss_32.png" class=""></a><a href="#"><img width="32" height="32" alt="" src="images/facebook_32.png" class=""></a><a href="#"><img width="32" height="32" alt="" src="images/twitter_32.png" class=""></a></p>
    </div>
    </div>
</div>
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-1" style="width: 100%">
        <p style="text-align: center;">Copyright © 2011 All Rights Reserved. Vector icons by <a href="http://www.bazaardesigns.com">BazaarDesigns.com</a></p>
    </div>
    </div>
</div>

    <p class="art-page-footer">
        <span id="art-footnote-links"><a href="http://www.artisteer.com/" target="_blank">Web Template</a> created with Artisteer.</span>
    </p>
  </div>
</footer>

</div>


</body></html>