<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head><!-- Created by Artisteer v4.0.0.58475 -->
    <meta charset="utf-8">
    <title>Contacts</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="style.responsive.css" media="all">


    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script src="script.responsive.js"></script>
<meta name="description" content="Description">
<meta name="keywords" content="Keywords">




<style>.art-content .art-postcontent-0 .layout-item-0 { border-right-style:solid;border-bottom-style:solid;border-right-width:1px;border-bottom-width:1px;border-right-color:#B5C5C9;border-bottom-color:#B5C5C9; padding-right: 10px;padding-left: 10px;  }
.art-content .art-postcontent-0 .layout-item-1 { border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#B5C5C9; padding-right: 10px;padding-left: 10px;  }
.art-content .art-postcontent-0 .layout-item-2 { border-right-style:solid;border-right-width:1px;border-right-color:#B5C5C9; padding-right: 10px;padding-left: 10px;  }
.art-content .art-postcontent-0 .layout-item-3 { padding-right: 10px;padding-left: 10px;  }
.ie7 .post .layout-cell {border:none !important; padding:0 !important; }
.ie6 .post .layout-cell {border:none !important; padding:0 !important; }

</style></head>
<body>
<div id="art-main">
<header class="art-header clearfix">


    <div class="art-shapes">
<h1 class="art-headline" data-left="47.64%">
    <a href="#">Adminisztráció</a>
</h1>


            </div>

                        
                    
</header>
<nav class="art-nav clearfix">
    <div class="art-nav-inner">
    <ul class="art-hmenu"><li><a href="home.html">Home</a></li><li><a href="contacts.html" class="active">Contacts</a></li></ul> 
        </div>
    </nav>
<div class="art-sheet clearfix">
            <div class="art-layout-wrapper clearfix">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-sidebar1 clearfix"><div class="art-block clearfix">
        <div class="art-blockcontent"><p>Enter Block content here...</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra, tellus sit amet congue vulputate, nisi erat iaculis nibh, vitae feugiat sapien ante eget mauris.</p></div>
</div></div>
                        <div class="art-layout-cell art-content clearfix"><article class="art-post art-article">
                                
                                                
                <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 33%" >
        <h3 style="border-bottom: 1px solid #B7C1C2; padding-bottom: 5px">Gallery</h3><p>Amet fusce purus nunc tellus tincidunt turpis et netus curabitur vivamus velit ut odio habitasse metus nisi. Quisque senectus et vivamus et curabitur turpis phasellus varius ante tincidunt.  Aliquam metus porta aenean. </p><div class="image-caption-wrapper" style="width: 100%"><img src="images/6bc89.jpg" style="width: 100%; max-width:450px" alt="an image" class="art-lightbox"><p>Image by Flickr/Tony Moorey</p></div>
    </div><div class="art-layout-cell layout-item-0" style="width: 34%" >
        <h3 style="border-bottom: 1px solid #B7C1C2; padding-bottom: 5px">Subscription</h3><p>Blandit praesent aenean imperdiet  hendrerit lorem arcu nullam blandit turpis vestibulum et mauris integer.  Porttitor condimentum et enim hac praesent tristique curae arcu augue in cursus.  Leo dolor fames orci eros mi.</p><div class="image-caption-wrapper" style="width: 100%"><img src="images/88cac.jpg" style="width: 100%; max-width:450px" alt="an image" class="art-lightbox"><p>Image by Flickr/Olof S</p></div>
    </div><div class="art-layout-cell layout-item-1" style="width: 33%" >
        <h3 style="border-bottom: 1px solid #B7C1C2; padding-bottom: 5px">About</h3><p>Malesuada per enim a maecenas at sit felis pede ac sodales sollicitudin vivamus aliquet metus semper turpis. Volutpat eget massa nulla amet iaculis nunc commodo turpis fermentum id ut mi id. In vestibulum maecenas a est.</p><div class="image-caption-wrapper" style="width: 100%"><img src="images/69e4c.jpg" style="width: 100%; max-width:399px" alt="an image" class="art-lightbox"><p>Image by Flickr/Agent Smith</p></div>
    </div>
    </div>
</div>
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-2" style="width: 33%" >
        <h3 style="border-bottom: 1px solid #B7C1C2; padding-bottom: 5px">Who We Are</h3>
        <p><span style="font-weight: bold;"><span style="font-style: italic;">Etiam lorem facilisis fames quam lacus volutpat posuere cras dictum non. Sem dui facilisis  egestas aliquam ut.</span></span></p><p>Arcu donec in nam praesent euismod praesent curabitur phasellus ultrices sem  pede ut blandit egestas donec. Phasellus vitae amet mauris at.</p><p><a href="#" class="art-button">More Info</a></p>
    </div><div class="art-layout-cell layout-item-2" style="width: 34%" >
        <h3 style="border-bottom: 1px solid #B7C1C2; padding-bottom: 5px">Top Story</h3>
        <p><span style="font-weight: bold;"><span style="font-style: italic;">Mauris in euismod pellentesque  odio consectetuer tortor sodales sed ut. Quam consectetuer id fusce conubia eu.</span></span></p><p>Cursus eu nulla hac eget cras scelerisque vestibulum nibh egestas laoreet gravida iaculis nec eros et nulla. Fringilla lorem euismod orci. </p><p><a href="#" class="art-button">More Info</a></p>
    </div><div class="art-layout-cell layout-item-3" style="width: 33%" >
        <h3 style="border-bottom: 1px solid #B7C1C2; padding-bottom: 5px">Newsletter</h3>
        <p><span style="font-weight: bold;"><span style="font-style: italic;">Sed nulla nisl tristique mi praesent quis nunc mauris eget id fusce nam. In orci sit cras orci tortor per ut. </span></span></p><p>Vitae neque metus magna condimentum tellus eget pede elit eros adipiscing rhoncus neque augue varius ut leo. Nulla leo suscipit nisl nisi. </p><p><a href="#" class="art-button">More Info</a></p>
    </div>
    </div>
</div>
</div>
                                
                                
</article></div>
                        <div class="art-layout-cell art-sidebar2 clearfix"><div class="art-block clearfix">
        <div class="art-blockcontent"><div>
  <form action="#" class="art-search" method="get" name="searchform">
    <input type="text" value="" name="s" />
    <input type="submit" value="Search" name="search" class="art-search-button" />
  </form>
</div></div>
</div><div class="art-block clearfix">
        <div class="art-blockcontent"><div>
  <p>Lorem ipsum dolor sit amet. Nam sit amet sem. Mauris a ante.</p>
  <ul>
    <li>
      <a href="#" title="All News">All News</a> (50)
    </li>
    <li>
      <a href="#" title="Best of the Year">Best of the Year</a> (4)
    </li>
    <li>
      <a href="#" title="Hyperlink">Hyperlink</a> (24)
    </li>
    <li>
      <a href="#" title="Visited link" class="visited">Visited link</a> (17)
    </li>
    <li>
      <a href="#" title="Hovered link" class="hover">Hovered link</a> (6)
    </li>
  </ul>
</div></div>
</div><div class="art-block clearfix">
        <div class="art-blockcontent"><div>
  <ul>
    <li>
      <a href="#" title="November 2008">November 2008</a>
    </li>
    <li>
      <a href="#" title="October 2008">October 2008</a>
    </li>
    <li>
      <a href="#" title="September 2008">September 2008</a>
    </li>
    <li>
      <a href="#" title="June 2008">June 2008</a>
    </li>
  </ul>
</div></div>
</div><div class="art-block clearfix">
        <div class="art-blockcontent"><div>
  <ul>
    <li>
      <a href="#">My first blog</a>
    </li>
    <li>
      <a href="#">Who will prevail?</a>
    </li>
    <li>
      <a href="#">Stay positive!</a>
    </li>
    <li>
      <a href="#">Oil still going up</a>
    </li>
    <li>
      <a href="#">Gripes and Grins</a>
    </li>
    <li>
      <a href="#">2012 Olympics</a>
    </li>
    <li>
      <a href="#">How to SEO</a>
    </li>
    <li>
      <a href="#">On Global Warming</a>
    </li>
    <li>
      <a href="#">Can you guess?</a>
    </li>
  </ul>
</div></div>
</div></div>
                    </div>
                </div>
            </div>
    </div>
<footer class="art-footer clearfix">
  <div class="art-footer-inner">
<p>powered by M.Otto<a href="http://infolapok.hu/">infolapok.hu</a></p>
<p>Copyright © 2012. All Rights Reserved.</p>
<p><br></p>
    <p class="art-page-footer">
        <span id="art-footnote-links"><a href="http://www.artisteer.com/" target="_blank">Web Template</a> created with Artisteer.</span>
        <span id="art-licence-links">Images by Flickr/woodleywonderworks,Al&amp;Koko,tallkev,Rosa y Dani,David Pfeffer,hafizismail.com</span>
    </p>
  </div>
</footer>

</div>


</body></html>