<!DOCTYPE html>
<html dir="ltr" lang="hu-HU"><head><!-- Created by Artisteer v4.0.0.58475 -->
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="style.css" media="screen">
    <link rel="stylesheet" href="style.responsive.css" media="all">
<style>.art-content .art-postcontent-0 .layout-item-0 { padding-right: 10px;padding-left: 10px;  }
.ie7 .post .layout-cell {border:none !important; padding:0 !important; }
.ie6 .post .layout-cell {border:none !important; padding:0 !important; }

</style></head>
<body>
<nav class="art-nav clearfix">
    <ul class="art-hmenu"><li><a href="home.html" class="active">Home</a><ul class="active"><li><a href="home/new-page.html">Subpage 1</a></li><li><a href="home/new-page-2.html">Subpage 2</a></li><li><a href="home/new-page-3.html">Subpage 3</a></li></ul></li><li><a href="blog.html">Blog</a></li></ul> 
</nav>


 <!-- cikk--------------------------------------------------------------------------->
<article class="art-post art-article">
                                <h2 class="art-postheader">Home</h2>
                                                
                <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
 
</div>
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 50%" >
        <ul>
        <li>Suspendisse pharetra auctor pharetra. Nunc a sollicitudin est.</li>
        <li>Donec vel neque in neque porta venenatis sed sit amet lectus.</li>
        <li>Curabitur ullamcorper gravida felis, sit amet scelerisque lorem iaculis sed.</li>
        </ul>
    </div><div class="art-layout-cell layout-item-0" style="width: 50%" >
        <blockquote style="margin: 10px 0">Nunc a sollicitudin est. Curabitur ullamcorper gravida felis, sit amet scelerisque lorem iaculis sed. Donec vel neque in neque porta venenatis sed sit amet lectus.</blockquote>
    </div>
    </div>
</div>
</div>
</article>
<div class="art-layout-cell art-sidebar2 clearfix"><div class="art-block clearfix">
     <div class="art-blockheader">
            <h3 class="t">Search</h3>
     </div>
</div>
                    </div>

</body></html>