<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head><!-- Created by Artisteer v4.0.0.58475 -->
    <meta charset="utf-8">
    <title>Subpage 2</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="../style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="../style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="../style.responsive.css" media="all">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans&amp;subset=latin">

    <script src="../jquery.js"></script>
    <script src="../script.js"></script>
    <script src="../script.responsive.js"></script>



<style>.art-content .art-postcontent-0 .layout-item-0 { padding-right: 10px;padding-left: 10px;  }
.ie7 .post .layout-cell {border:none !important; padding:0 !important; }
.ie6 .post .layout-cell {border:none !important; padding:0 !important; }

</style></head>
<body>
<div id="art-main">
<header class="art-header clearfix">


    <div class="art-shapes">
<h1 class="art-headline" data-left="35.77%">
    <a href="#">Ménkű a parlamentbe!</a>
</h1>

<div class="art-object1201188790" data-left="97.94%"></div>

            </div>

                        
                    
</header>
<div class="art-sheet clearfix">
<nav class="art-nav clearfix">
    <ul class="art-hmenu"><li><a href="../home.html" class="active">Home</a><ul class="active"><li><a href="../home/new-page.html">Subpage 1</a></li><li><a href="../home/new-page-2.html" class="active">Subpage 2</a></li><li><a href="../home/new-page-3.html">Subpage 3</a></li></ul></li></ul> 
    </nav>
<div class="art-layout-wrapper clearfix">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-sidebar1 clearfix"><div class="art-vmenublock clearfix">
        <div class="art-vmenublockheader">
            <h3 class="t">VMenu</h3>
        </div>
        <div class="art-vmenublockcontent">
<ul class="art-vmenu"><li><a href="../home.html" class="active">Home</a><ul class="active"><li><a href="../home/new-page.html">Subpage 1</a></li><li><a href="../home/new-page-2.html" class="active">Subpage 2</a></li><li><a href="../home/new-page-3.html">Subpage 3</a></li></ul></li></ul>
                
        </div>
</div><div class="art-block clearfix">
        <div class="art-blockheader">
            <h3 class="t">Block</h3>
        </div>
        <div class="art-blockcontent"><p>Enter content here...</p>
<br>
<p><input type="text" value="Text..."></p>
<p style="margin-top: 5px"><label class="art-checkbox"><input value="" type="checkbox">Lorem ipsum dolor.</label></p>
<p style="margin-top: 5px"><label class="art-radiobutton"><input value="" type="radio" name="rg">Text...</label> <label class="art-radiobutton"><input value="" type="radio" name="rg">Text...</label></p>
<p style="margin-top: 5px"><a href="#" class="art-button">Send</a></p></div>
</div></div>
                        <div class="art-layout-cell art-content clearfix"><article class="art-post art-article">
                                <div class="art-postmetadataheader">
                                        <h2 class="art-postheader"><span class="art-postheadericon">Subpage 2</span></h2>
                                    </div>
                                                
                <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 100%" >
        <p><br /></p>
    </div>
    </div>
</div>
</div>
</article></div>
                    </div>
                </div>
            </div>
    </div>
<footer class="art-footer clearfix">
  <div class="art-footer-inner">
<p><a href="#">Link1</a> | <a href="#">Link2</a> | <a href="#">Link3</a></p>
<p>Copyright © 2013. All Rights Reserved.</p>
    <p class="art-page-footer">
        <span id="art-footnote-links"><a href="http://www.artisteer.com/" target="_blank">Web Template</a> created with Artisteer.</span>
    </p>
  </div>
</footer>

</div>


</body></html>